* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    list-style-type: none;
}

:root {
    --main-bg-color: rgb(0, 0, 0);
    --nav-bg-color: rgba(15, 15, 15);
    --main-font-color: rgb(214, 214, 214);
    --main-heading-color: rgb(255, 92, 51);
    --secondary-heading-color: rgb(255, 255, 255);
    --main-link-color: rgb(255, 148, 122);
    --main-link-color-hover: rgb(255, 203, 190);
    --main-button-color: rgb(255, 128, 96);
    --main-hightlight-color: rgb(255, 102, 0);
    --main-font-color: rgb(214, 214, 214);
    --heading-size-4: 3em;
    --heading-size-3: 2.5em;
    --heading-size-2: 2em;
    --heading-size-1: 1.5em;
    --link-size: 1em;
    --nav-link-size: .9em;
    --global-wrapper: 80%;
    --two-columns: 1fr 1fr;
    --two-columns-style-two: 1fr 2fr;
    --one-column: 1fr 1fr;

}
h1 {
    margin-bottom: 10px;
    font-size: var(--heading-size-4);
    color: var(--main-heading-color);
}
h2 {
    margin-bottom: 10px;
    font-size: var(--heading-size-3);
    color: var(--secondary-heading-color);
    
}
h3 {
    margin-bottom: 10px;
    font-size: var(--heading-size-2);
    color: var(--main-heading-color);
}
h4 {
    margin-bottom: 10px;
    font-size: var(--heading-size-1);
    color: var(--main-heading-color);
    
}
p {
    margin-bottom: 10px;
}
a {
    width: max-content;
    color: var(--main-link-color);
    text-decoration: none;

}
a:hover {
    color: var(--main-link-color-hover);
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
}
.global-wrapper {
    display: grid;
    justify-self: center;
    width: var(--global-wrapper);
    height: 100%;
}

/* NAVIGATION */
nav {
    display: grid;
    width: 100%;
    height: 40px;
    align-items: center;
    align-content: center;
    background-color: var(--nav-bg-color)
}
.nav-wrapper {
        display: grid;
        justify-self: center;
        width: 90%;
        height: 100%;
}
.two-columns {
    display: grid;
    grid-template-columns:var(--two-columns);
}

.two-columns-style-2 {
    display: grid;
    grid-template-columns:var(--two-columns-style-two);
}
.justify-self-right {
    justify-self: right;
}
.logo-nav-link {
    display: grid;
    color: white;
    text-decoration: none;
    font-size: var(--heading-size-2)
}
.desktop-nav-link {
    display: grid;
    align-self: center;
    color: rgb(195, 195, 195);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-decoration: none;
    font-size: var(--nav-link-size);
}
.desktop-nav-link:hover {
    color: var(--main-hightlight-color);
    text-decoration: none;
}

.desktop-navigation-unordered {
    display: inline-block;
    margin-left: 30px;
}
.desktop-navigation-nav-list {
    display: inline-grid;
    height: 40px;
    padding-left: 35px;
}
.nav-logo {
    display: inline-block;
    vertical-align: text-bottom;
    height: 20px;
}
.account-drop-down-menu {
    display: none;
    position: fixed;
    background: var(--nav-bg-color);
    width: max-content;
    right: 5%;
    padding: 2px 10px;
    border-top: 1px solid black;
}
.account-drop-down-menu-links {
    display: grid;
    width: 100%;
    border-top: 1px solid black;
    font-size: .8em;
    padding: 10px 0px;
}
.to-login-page-btn {
    display: grid;
    margin-top: 5px;
    align-content: center;
    padding: 5px;
    height: 25px;
    width: 150px;
    text-align: center;
    background: var(--main-button-color);
    color: var(--main-bg-color);
}
/* MAIN */

main {
    display: grid;
    background-image: url('../images/viabull-bg.jpg');
    background-repeat: no repeat;
    min-height: 100vh;
}

.main-container {
    display: grid;
    align-content: flex-start;
    margin-top: 150px;
}
/* FOOTER */
footer {
    display: grid;
    justify-content: center;
}
/* FORMS */ 
.center-form-wrapper {
    display: grid;
    justify-self: center;
    width: max-content;
    background: var(--main-nav-color);
    padding: 50px;
    border: 1px solid var(--main-heading-color)

}
.form-style-1 {
    display: grid;
    width: 400px;
    justify-self: center;
}
input[type="text"], input[type="password"], input[type="email"] {
	border: none;
	height: 35px;
	width: 100%;
	margin: 10px 0px;
	border-radius: 2px;
	border: none;
	background:rgb(14, 7, 0);;
	font-size: 1.1em;
	padding: 5px;
	color: var(--light-grey-color);
}
.post-input-area:focus, input[type="text"]:focus, input[type="password"]:focus,input[type="email"]:focus, input[type="tel"]:focus  {
	border: solid .5px var(--orange-color);
	outline: none;
}
.user-post-form {
    width: 60%;
}
.post-input-area {
    border: none;
	width: 100%;
	margin: 10px 0px;
	border-radius: 2px;
	border: none;
	background:rgb(14, 7, 0);
	font-size: inherit;
    padding: 5px;
    color: var(--light-grey-color);
    height: 300px;
    resize: none;
}

.btn-style-1 {
    display: grid;
    align-content: center;
    width: 100%;
    height: 35px;
    background-color: var(--main-heading-color);
    border: none;
    color: white;
    font-weight: 500;
}
.btn-style-1:hover {
    display: grid;
    align-content: center;
    width: 100%;
    height: 35px;
    background-color: var(--main-hightlight-color);
    border: none;
    color: white;
    font-weight: 500;
    cursor: pointer;
}
.btn-style-1:focus, .btn-style-a:active {
    border: none;
    outline: none;
}
.note {
    font-size: .8em;
}
/* RICH TEXT AREA */

.bold {
    font-weight: bold;
}
/* Image Properties */
.img-75 {
    display: grid;
    justify-self: center;
    width: 75%;
}
.img-50 {
    display: grid;
    justify-self: center;
    width: 50%;
}
.registration-logo {
    display: grid;
    justify-self: center;
    width: 200px;
    margin-bottom: 25px;
}
/* Dashboard */
.account-nav-ul {
    display: grid;
}
.account-icon {
    display: inline-flex;
    width: 50px;
    fill: #333;
    padding-right: 10px;
}
.account-main-nav {
    display: inline-flex;
    margin: 10px 0px;
    width: 100%;
}
.account-navigation-column {
    display: grid;
    width: 350px;
    background: rgba(30, 30, 30, .5);
    padding: 10px;
}
.account-main-area {
    display: grid;
    margin-left: 10px;
    align-content: flex-start;
}
.desktop-navigation-nav-list-2 {
    display: inline-grid;
    height: 40px;
}
/* BLOG POSTS */
.account-posts {
    /* display: grid; */
    display: none;
    width: 60%;
    margin-bottom: 20px;

}
.account-write-post {
    display: none;
}
.blog-content {
    display: grid;
    margin-bottom: 20px;
    background: rgba(15, 15, 15, .5);
    padding: 10px;
}
.blog-body {
    display: grid;
    padding: 10px;
}
/* POP UP */

.pop_up {
    display: grid;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 200px;
    left: 0;
    right: 0;
    width: 600px;
    height: 400px;
    background: grey;
    box-shadow: 0px 4px 4px black;
    color: black;
    padding: 10px;
}
/*  BLOG */
.blog_actions {
    display: grid;
    justify-self: center;
    justify-content: center;
    align-content: center;
    height: 30px;
    width: 100%;
}
.blog_action_buttons_ul {
    display: flex;
}
.blog_action_buttons_li {
    display: inline-flex;
    margin-left: 10px;
    margin-right: 10px;
    font-size: .8em;
}
.date {
    font-size: .9em;
    font-style: italic;
    color: rgb(77, 77, 77)
}
.username {
    font-size: .9em;
    color: var(--main-link-color);
}
/* PROFILE PAGE */
.profile_img {
    display: grid;
    width: 200px;
    height: 200px;
    background: red;
}
.profile-wrapper {
    display: grid;
    grid-template-areas: 'profileImg profileData';
    justify-self: center;
    justify-items: left;
    justify-content: left;
    padding: 10px;
    width: 600px;
    background: rgba(15, 15, 15, .5);
    align-items: flex-start;
}
.profile-wrapper div:nth-child(2) {
    display: grid;
    margin-left: 20px;
    top: 0;
    justify-items: left;
    justify-content: left;
    justify-self: left;
}
.upvote_icon {
    width: 15px;
}
