* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    list-style-type: none;
}

:root {
    --main-bg-color: rgb(0, 0, 0);
    --nav-bg-color: rgba(15, 15, 15);
    --main-font-color: rgb(214, 214, 214);
    --main-heading-color: rgb(255, 92, 51);
    --secondary-heading-color: rgb(255, 255, 255);
    --main-link-color: rgb(255, 148, 122);
    --main-link-color-hover: rgb(255, 203, 190);
    --main-button-color: rgb(255, 128, 96);
    --main-hightlight-color: rgb(255, 102, 0);
    --main-font-color: rgb(214, 214, 214);
    --heading-size-4: 3em;
    --heading-size-3: 2.5em;
    --heading-size-2: 2em;
    --heading-size-1: 1.5em;
    --link-size: 1em;
    --nav-link-size: .9em;
    --global-wrapper: 80%;
    --two-columns: 1fr 1fr;
    --two-columns-style-two: 1fr 2fr;
    --two-columns-style-three: 3fr 1fr;
    --two-columns-style-four: 2fr 1fr;
    --one-column: 1fr 1fr;
    --print-color-1: rgb(255, 255, 255);
    --print-color-2: rgb(122, 122, 122);
}
h1 {
    margin-bottom: 10px;
    font-size: var(--heading-size-4);
    color: var(--main-heading-color);
}
h2 {
    margin-bottom: 10px;
    font-size: var(--heading-size-3);
    color: var(--secondary-heading-color);
    
}
h3 {
    margin-bottom: 10px;
    font-size: var(--heading-size-2);
    color: var(--main-heading-color);
}
h4 {
    margin-bottom: 10px;
    font-size: var(--heading-size-1);
    color: var(--main-heading-color);
    
}
p {
    margin-bottom: 10px;
}
a {
    width: max-content;
    color: var(--main-link-color);
    text-decoration: none;

}
a:hover {
    color: var(--main-link-color-hover);
}
.orange {
    color: var(--main-link-color);
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
}
.global-wrapper {
    display: grid;
    justify-self: center;
    width: var(--global-wrapper);
    height: 100%;
}
.invoice-form {
    display: grid;
}
.multiplier{

}
/* NAVIGATION */
nav {
    display: grid;
    width: 100%;
    height: 40px;
    align-items: center;
    align-content: center;
    background-color: var(--nav-bg-color)
}
.nav-wrapper {
        display: grid;
        justify-self: center;
        width: 90%;
        height: 100%;
}
.two-columns {
    display: grid;
    grid-template-columns:var(--two-columns);
}

.two-columns-style-2 {
    display: grid;
    grid-template-columns:var(--two-columns-style-two);
}
.two-columns-style-3 {
    display: grid;
    grid-template-columns:var(--two-columns-style-three);
}
.two-columns-style-4 {
    display: grid;
    grid-template-columns:var(--two-columns-style-four);
}
.justify-self-right {
    justify-self: right;
}
.logo-nav-link {
    display: grid;
    color: white;
    text-decoration: none;
    font-size: var(--heading-size-2)
}
.desktop-nav-link {
    display: grid;
    align-self: center;
    color: rgb(195, 195, 195);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-decoration: none;
    font-size: var(--nav-link-size);
}
.desktop-nav-link:hover {
    color: var(--main-hightlight-color);
    text-decoration: none;
}

.desktop-navigation-unordered {
    display: inline-block;
    margin-left: 30px;
}
.desktop-navigation-nav-list {
    display: inline-grid;
    height: 40px;
    padding-left: 35px;
}
.nav-logo {
    display: inline-block;
    vertical-align: text-bottom;
    height: 20px;
}
.account-drop-down-menu {
    display: none;
    position: fixed;
    background: var(--nav-bg-color);
    width: max-content;
    right: 5%;
    padding: 2px 10px;
    border-top: 1px solid black;
}
.account-drop-down-menu-links {
    display: grid;
    width: 100%;
    border-top: 1px solid black;
    font-size: .8em;
    padding: 10px 0px;
}
.to-login-page-btn {
    display: grid;
    margin-top: 5px;
    align-content: center;
    padding: 5px;
    height: 25px;
    width: 150px;
    text-align: center;
    background: var(--main-button-color);
    color: var(--main-bg-color);
}
/* MAIN */

main {
    display: grid;
    justify-self: center;
    background-image: url('../images/viabull-bg.jpg');
    background-repeat: no repeat;
    min-height: 100vh;
}
.invoice-container {
    display: grid;
    margin-top: 100px;
    justify-self: center;
    width: 50%;
}
.main-container {
    display: grid;
    align-content: flex-start;
    margin-top: 150px;
}
/* FOOTER */
footer {
    display: grid;
    justify-content: center;
}
/* FORMS */ 
.center-form-wrapper {
    display: grid;
    justify-self: center;
    width: max-content;
    background: var(--main-nav-color);
    padding: 50px;
    border: 1px solid var(--main-heading-color)

}
.form-style-1 {
    display: grid;
    width: 400px;
    justify-self: center;
}

input[type] {
	border: none;
    height: 35px;
	margin: 10px 0px;
	border-radius: 2px;
	border: none;
	font-size: 1.1em;
	padding: 5px;
	color: black;
}
.post-input-area:focus, input[type]:focus  {
	border: solid .5px var(--orange-color);
	outline: none;
}
.user-post-form {
    width: 60%;
}
.user-post-form input[type] {
    border: none;
    margin: 10px 0px;
    vertical-align: middle;
	border-radius: 2px;
	border: none;
	background:rgb(14, 7, 0);
	font-size: inherit;
    padding: 5px;
    color: var(--light-grey-color);
}
.post-input-area {
    border: none;
	width: 100%;
	margin: 10px 0px;
	border-radius: 2px;
	border: none;
	background:rgb(14, 7, 0);
	font-size: inherit;
    padding: 5px;
    color: var(--light-grey-color);
    height: 300px;
    resize: none;
}

.btn-style-1 {
    display: grid;
    align-content: center;
    width: 100%;
    height: 35px;
    background-color: var(--main-heading-color);
    border: none;
    color: white;
    font-weight: 500;
}
.btn-style-1:hover {
    display: grid;
    align-content: center;
    width: 100%;
    height: 35px;
    background-color: var(--main-hightlight-color);
    border: none;
    color: white;
    font-weight: 500;
    cursor: pointer;
}
button:focus {
    border: none;
    outline: none;
}

.note {
    font-size: .8em;
}
/* INVOICE */

.form-style-2 {
    display: grid;
    width: 75%;
}


.bold {
    font-weight: bold;
}
/* Image Properties */
.img-75 {
    display: grid;
    justify-self: center;
    width: 75%;
}
.img-50 {
    display: grid;
    justify-self: center;
    width: 50%;
}
.registration-logo {
    display: grid;
    justify-self: center;
    width: 200px;
    margin-bottom: 25px;
}
/* Dashboard */
.account-nav-ul {
    display: grid;
}
.account-icon {
    display: inline-flex;
    width: 50px;
    fill: #333;
    padding-right: 10px;
}
.account-main-nav {
    display: inline-flex;
    margin: 10px 0px;
    width: 100%;
}
.account-navigation-column {
    display: grid;
    width: 350px;
    background: rgba(30, 30, 30, .5);
    padding: 10px;
}
.account-main-area {
    display: grid;
    margin-left: 10px;
    align-content: flex-start;
}
.desktop-navigation-nav-list-2 {
    display: inline-grid;
    height: 40px;
}
/* BLOG POSTS */
.account-posts {
    /* display: grid; */
    display: none;
    width: 60%;
    margin-bottom: 20px;

}
.account-write-post {
    display: none;
}
.blog-content {
    display: grid;
    margin-bottom: 20px;
    background: rgba(15, 15, 15, .5);
    padding: 10px;
}
.blog-body {
    display: grid;
    padding: 10px;
}
/* POP UP */

.pop_up {
    display: none;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 200px;
    left: 0;
    right: 0;
    max-width: 400px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 8px 4px black;
    color: black;
    padding: 10px;
}
.pop_up div {
    display: grid;
    justify-self: center;
    justify-content: center;
}

.confirm-delete {
    display: inline;
    width: 100px;
    height: 25px;
    border: none;
    background: rgb(255, 92, 51);
    align-content: center;
    margin-top: 20px;
}
.cancel-delete {
    display: inline;
    width: 100px;
    height: 25px;
    border: none;
    background: var(--main-button-color);
    align-content: center;
    margin-top: 20px;
}
.confirm-delete:hover, .cancel-delete:hover {
    background: var(--main-hightlight-color);

}
/*  BLOG */
.blog_actions {
    display: grid;
    justify-self: center;
    justify-content: center;
    align-content: center;
    height: 30px;
    width: 100%;
}
.blog_action_buttons_ul {
    display: flex;
}
.blog_action_buttons_li {
    display: inline-flex;
    margin-left: 10px;
    margin-right: 10px;
    font-size: .8em;
}
.date {
    font-size: .9em;
    font-style: italic;
    color: rgb(77, 77, 77)
}
.username {
    font-size: .9em;
    color: var(--main-link-color);
}
/* PROFILE PAGE */
.profile_img {
    display: grid;
    width: 200px;
    height: 200px;
    background: red;
}
.profile-wrapper {
    display: grid;
    grid-template-areas: 'profileImg profileData';
    justify-self: center;
    justify-items: left;
    justify-content: left;
    padding: 10px;
    width: 600px;
    background: rgba(15, 15, 15, .5);
    align-items: flex-start;
}
.profile-wrapper div:nth-child(2) {
    display: grid;
    margin-left: 20px;
    top: 0;
    justify-items: left;
    justify-content: left;
    justify-self: left;
}
.upvote_icon {
    width: 15px;
}
th {
    text-align: left;
}

/* INVOICE FORM STYLES */
.info-container {
    display: grid;
    margin: 0;
    width: 100%;
    background: rgba(17, 17, 17, 0.3);
    padding: 10px;
}
.info-container-items {
    display: grid;
    width: 100%;
    background: rgba(17, 17, 17, 0.3);
    padding: 10px;
}
.info {
    display: grid;
    align-content: flex-start;
    margin-bottom: 20px;
    padding: 10px;
}


.info > input[type], #item-input-form > input[type] {
    margin: 2px 0px;
    background: rgba(44, 44, 44, 0.3);
    font-weight: normal;
    font-size: .9em;
    padding: 5px;
    height: 25px;
    padding: 5px;
    border-radius: 3px;
}
.info > div > input[type] {
    margin: 2px 0px;
    background: rgba(44, 44, 44, 0.3);
    font-weight: normal;
    font-size: .9em;
    width: 25%;
    padding: 5px;
    height: 25px;
    padding: 5px;
    border-radius: 3px;
}

label {
    display: inline-block;
}
.info > input[type]:focus, #item-input-form > input[type]:focus {
    display: grid;
    border: none;
    outline: none;
    background:rgb(8, 8, 8)
}
.btn-style-add {
    display: grid;
    margin-bottom: 10px;
    align-content: center;
    justify-self: left;
    text-align: center;
    width: 25px;
    height: 25px;
    background-color: rgb(0, 182, 76);
    border: none;
    color: white;
    font-weight: 500;
    margin-right: 30px;
    border-radius: 2px;
}
.btn-style-delete {
    display: grid;
    justify-self: right;
    align-content: center;
    background: rgb(255, 0, 0);
    color: white;
    border: none;
    height: 25px;
    border-radius: 2px;
    width: 75px;
    margin-right: 10px;
}
.invoice-sbt-btn {
    display: grid;
    right: 0;
    align-content: center;
    width: 100px;
    height: 35px;
    background-color: var(--main-heading-color);
    border: none;
    color: white;
    font-weight: 500;
}
.btn-style-save {
    display: grid;
    margin-top: 10px;
    right: 0;
    align-content: center;
    width: 100px;
    height: 35px;
    justify-content: center;
    background-color: rgb(0, 85, 221);
    border: none;
    color: white;
    font-weight: 500;
}
.btn-style-save:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.btn-style-add:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.btn-style-delete:hover {
    cursor: pointer;
    transform: scale(.95);
}
.invoice-sbt-btn:hover {
    cursor: pointer;
    background:var(--main-hightlight-color);
}
.span_columns {
    grid-column: span 1 / 3;
}
.buttons-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    justify-items: right;
    padding: 20px;
}

.invoice-note {
    display: grid;
    margin-top: 20px;
    margin-left: 20px;
}
#note {
    display: grid;
    padding: 20px;
    color: green;
}
/* FOR PRINTING STYLE DEFAULT */
.invoice-displayed-wrapper {
    display: grid;
    justify-self: center;
    justify-items: center;
}
.invoice-preview-wrapper {
    display: grid;
    justify-self: center;
    align-self: flex-start;
    margin-top: 40px;
    color: white;
    width: 60%;
    padding: 20px;
}
.invoice-preview-wrapper-2 {
    display: grid;
    justify-self: center;
    align-self: flex-start;
    width: 96%;
    padding: 20px;
}

.invoice-one-column-head {
    display: grid;
    justify-self: right;
    justify-content: right;
    text-align: right;
    width: 100%;
}
.invoice-two-column-head {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
/* INVOICE TITLE */
.invoice-two-column-head > div:nth-child(1), .invoice-two-column-head-rec-details > div:nth-child(1){
    display: grid;
    justify-items: left;
    justify-content: left;
    justify-self: left;
    align-self: flex-end;
}
/* SENDERS INFO */
.invoice-two-column-head > div:nth-child(2), .invoice-two-column-head-rec-details > div:nth-child(2){
    display: grid;
    justify-self: right;
    justify-content: right;
    justify-items: right;
    align-self: flex-end;
}
.invoice-two-column-head-rec-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
}

/* classes */
.pad-top-20 {
    margin-top: 15px;
}
.heading-style-1 {
    margin: 0;
    font-size: 3em;
    text-transform: uppercase;
    text-indent: none;
}
.heading-style-2 {
    margin: 0;
    font-size: 1.5em;
}
.heading-style-3 {
    margin: 0;
    font-size: 1em;
}
.heading-style-4 {
    margin: 0;
    font-size: .9em;
}
.print-color-1 {
    margin: 0;
    color: var(--print-color-1);
}
.print-color-2 {
    margin: 0;
    color: var(--print-color-2);
}
.fs-small {
    font-size: .9em;
}
.fs-med {
    font-size: 1em;
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.print-li {
    display: inline;
    font-size: .9em;
    margin-left: 20px;
    font-style: italic;
}
.invoice-display-table {
    border-collapse: collapse;
    width: 100%;
}
.align-right {
    text-align: right;
}
.align-left {
    text-align: left;
}
.align-center {
    text-align: center;
}
.invoice-display-table tr.underline td {
    border-bottom: 2px solid rgb(184, 184, 184);
}
.invoice-display-table td.pad-left-20 {
    padding-left: 20px;
}
.invoice-display-table td.fs-med {
    font-size: 1em;
}
.items-display {
    margin-top: 50px;

}
.items-table {
    color: var(--print-color-1);
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.items-table th {
    text-transform: uppercase;
    padding-bottom: 20px;
}
.items-table tr {
    width: 100%;
}
.items-table td:nth-child(1) {
    width: 60%;
}
.items-table td:nth-child(2) {
    width: 10%;
    text-align: center;
}
.items-table td:nth-child(3) {
    width: 15%;
    text-align: center;
}
.items-table td:nth-child(4) {
    width: 15%;
}
.totals {
    display: grid;
    margin-top: 50px;
}
.totals-table {
    color: var(--print-color-1);
    justify-self: right;
}
.pad-left-20 {
    padding-left: 20px;
}

