
<footer>
        <p>Copyright &#169; chrislauer.net 2020</p>

</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="jquery.animateNumber.js"></script>
<script src="./scripts/script.js"></script>


</body>
</html>