
    <%- include('./partials/head'); %>

    <header>
        <%- include('./partials/nav'); %>
    </header>
    <main>
    <div class="global-wrapper">
        <div class="main-container ">
            <h2>Welcome to your dashboard</h2>
            <p><b>Login Email</b> - <%=email %></p>
        </div>
    </div>
    </main>
<%- include('./partials/footer'); %>