
    <%- include('./partials/head'); %>

    <header>
        <%- include('./partials/nav'); %>
    </header>
    <main>
    <div class="global-wrapper">
        <div class="main-container two-columns-style-2">
            <div>
                <div class="account-navigation-column">
                <h3>Account Overview</h3>
                <ul class="account-nav-ul">
                    <li class="account-main-nav">
                        <img src="./images/SVG/inbox.svg" alt="inbox" class="account-icon"> <a href="">Inbox</a> 
                    </li>
                    <li class="account-main-nav">
                        <img src="./images/SVG/inbox.svg" alt="inbox" class="account-icon"> <a href="">Watchlist</a> 
                    </li>
                    <li class="account-main-nav">
                        <img src="./images/SVG/inbox.svg" alt="inbox" class="account-icon"> <a href="">Posts</a> 
                    </li>
                    <li class="account-main-nav">
                        <img src="./images/SVG/inbox.svg" alt="inbox" class="account-icon"> <a href="">Uploads</a> 
                    </li>
                    <li class="account-main-nav">
                        <img src="./images/SVG/inbox.svg" alt="inbox" class="account-icon"> <a href="">My Favorites</a> 
                    </li>
                    <li class="account-main-nav">
                        <img src="./images/SVG/inbox.svg" alt="inbox" class="account-icon"> <a href="">Orders</a> 
                    </li>
                    </ul>
                </div>
            </div>
            <div class="account-main-area">
                <h4>Your Information</h4>
                <p><b>Account Email: </b><%=email %></p>

            </div>

            </ul>
        </div>
    </div>
    </main>

<%- include('./partials/footer'); %>