
    <%- include('./partials/head'); %>

    <header>
        <%- include('./partials/nav'); %>
    </header>
    
    <main>
        <div class="global-wrapper">
            <div class="main-container">
                <h3>Project Overview</h3>
                <p>
                    So this is one of my main designs, so I figured I would go all out with it and make it somewhat official, 
                    from a mobile design to full implementation. Viabull is a fake trading application. Outside of Jquery,
                     this site is made 100% from scratch, just like the rest of the sites you will see on my profile. 
                     Including all images, all icons and buttons.
                </p>
            </div>
        </div>
    </div>
    
    </main>
    
        <%- include('./partials/footer'); %>
    