
    <%- include('./partials/head'); %>

    <header>
        <%- include('./partials/nav'); %>
    </header>
    
    <main>
        <div class="global-wrapper">
            <div class="main-container" id="public_blog_posts">

            </div>
        </div>
    
    </main>
    
        <%- include('./partials/footer'); %>
    