
    <%- include('./partials/head'); %>

<header>
    <%- include('./partials/nav'); %>
</header>

<main>
    <div class="global-wrapper">
            <div class="main-container one-column">
                <div class="landing-title">
                    <h1>Let your money work for you</h1>
                    <p>Thanks for checking out my page. I jsut started this project on 12/16/2020. You can stay up-to-date with upcoming updates <a href="/updates" class="myaccount-links">here.</a> </p>
                </div>
            </div>
    </div>
</main>

    <%- include('./partials/footer'); %>
