<%- include('./partials/head'); %>
    <header>
        <%- include('./partials/nav'); %>
    </header>
    <main>
        <div class="global-wrapper">  
            <div class="main-container">
                <div class="center-form-wrapper">
                <img src="./images/viabull-lndg@2x.png" alt="logo" class="registration-logo"/>
            <p> <%=(typeof alertMsg!='undefined')? alertMsg:''%></p>
            <form method="post" action="/login" class="form-style-1">
           <input type="email" placeholder="Email Address" name="email_address" required>

         <input type="password" placeholder="Password" name="password">

            <button type="submit" class="btn-style-1">Log In</button>
            <a href="/register">Register</a>
        </div>
        </div>
        </div>
    </main>

    <%- include('./partials/footer'); %>
