<%- include('./partials/head'); %>

<header>
    <%- include('./partials/nav'); %>
</header>
<main>
    <div class="global-wrapper two-columns">
        <div class="main-container">
        <!-- <img src="../images/viabull-lndg.svg" alt="viabull-logo" class="img-25"> -->
            <h2>Powered by <span class="bold">Twelve</span>Data</h2>
            <p class="sponsor">Viabull will be utilizing TwelveData's API. As of right now, the data being utilized is from a local static JSON file. However,
                in the future we will be requesting the information straight from their servers.
                This is simply pulling data from a JSON file, parsing that data, turning that data into pleasantries. New features added soon.</p>
            <h2>Search By Name</h2> <br />

            <input type="text"  id="search-by-name"> <br />
            <h2>Search By Symbol</h2> <br />
            <input type="text" id="search-by-symbol"><br />
        </div>
        <div>
        </div>
        </div>
    </div>
</main>

            <%- include('./partials/footer'); %>