
    <%- include('./partials/head'); %>

    <header>
        <%- include('./partials/nav'); %>
    </header>
    
    <main>
        <div class="global-wrapper">
            <div class="two-columns">
            <div class="main-container">
                <h3>Project Overview</h3>
                <p>
                    So this is one of my main designs, so I figured I would go all out with it and make it somewhat official, 
                    from a mobile design to full implementation. Viabull is a fake trading application. Outside of Jquery,
                     this site is made 100% from scratch, just like the rest of the sites you will see on my profile. 
                     Including all images, all icons and buttons.
                </p>
                <h4>Languages and Libraries</h4>
                <ul>
                    <li>Built with Node.JS</li>
                    <li>Express</li>
                    <li>MySQL</li>
                    <li>BcryptJS</li>
                    <li>EJS</li>
                    <li>Express Validator</li>
                    <li>Express-Mysql-Session</li>
                    <li>Body Parser</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Javascript</li>
                    <li>JQuery</li>
                    <li>Ajax</li>
                </ul>
                <h4>Project Status</h4>
                <ul>
                    <li>
                        Start Date: 12/16/2020
                        Moved to NodeJS: 01/10/2020
                    </li>
                </ul>
                <h4>Upcoming Updates</h4>
                <ul>
                    <li>
                      <s>Form Validations</s>  
                    </li>                    <li>
                        Messaging System
                    </li>                    <li>
                        Like/Dislike Posts
                    </li>                    <li>
                        <s>Public Posts</s>
                    </li>                    <li>
                        Profile Customizations
                    </li>
                    <li>
                        Ability to Edit Posts
                    </li>
                    <li>
                        Admin Delete Post
                    </li>
                    <li>
                        Admin Delete Members
                    </li>
                    <li>
                        Admin Register User
                    </li>
                    <li>
                        CSS Updating to Responsivness
                    </li>
                </ul>
            </div>
            <div class="main-container">
                <h4>Project Features</h4>
                <ul>
                    <li>
                        Encrypted login/registration system
                    </li>
                    <li>
                        Dynamic/Unique Profile Pages
                    </li>
                    <li>
                        Dynamically Generated Pages
                    </li>
                    <li>
                        Permission based, Admin, Member, Non-Member views
                    </li>
                    <li>
                        Public posts, Private Posts
                    </li>
                </ul>

            </div>
        </div>
    </div>
    
    </main>
    
        <%- include('./partials/footer'); %>
    