<div class="invoice-one-column-head">
    <div>
       <h1 class="heading-style-2 print-color-1">'+data.senderName+'</h1>
       <h4 class="heading-style-3 print-color-1">Company Slogan</h4>
    </div>
    <div class="pad-top-20">
       <h4 class="heading-style-4 print-color-1">'+data.senderAddress+'</h4>
       <h4 class="heading-style-4 print-color-1">'+data.senderAddress2+'</h4>
   </div>
</div>
<div class="invoice-two-column-head">
   <div>
       <h1 class="heading-style-1 print-color-1">Invoice</h1>
       <h4 class="heading-style-4 print-color-2">#0001</h4>
   </div>
   <div class="inline">
       <ul>
           <li class="print-li print-color-2">'+data.senderEmail+'</li>
           <li class="print-li print-color-2">'+data.senderTele+'</li>
       </ul>
   </div>
</div>
<div class="invoice-two-column-head-rec-details">
   <div>
       <h2 class="heading-style-2 print-color-1">Invoice To:</h2>
       <h3 class="heading-style-3 print-color-1">'+data.recName+'</h3>
       <p class="print-color-2 fs-med">'+data.recCompanyAdd+'</p>
       <p class="print-color-2 fs-med">'+data.recCompanyAdd2+'</p>
   </div>
   <div>
       <table class="invoice-display-table">
           <tr class="underline">
               <td class="print-color-1">Total Due:</td>
               <td class="print-color-1 bold align-right">$1000.00</td>
           </tr>
           <tr>
               <td class="print-color-2">Invoice No:</td>
               <td class="align-right print-color-1 pad-left-20">#0001</td>
           </tr>
           <tr>
               <td class="print-color-2">Invoice Date</td>
               <td class="align-right print-color-1 pad-left-20">Janurary 20, 2021</td>
           </tr>
       </table>
   </div>
   </div>
   <div class="items-display">
       <table class="items-table">
           <tr>
               <th>Items Description</th>
               <th class="align-center">QTY</th>
               <th class="align-center">PRICE</th>
               <th class="align-right">TOTAL</th>
           </tr>